{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "amd": true,
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/core-modules": [],
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ]
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-trailing-spaces": "error",
    "semi": [
      "error",
      "always"
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 99
        },
        "multiline": {
          "max": 1
        }
      }
    ]
  }
}
